@page "/admin/product"

@if(DetailModalOpen)
{
    <DetailModal Title="Chi tiết người dùng" Model="ProductDetail" OnClose="@OnDetailModalClose" ></DetailModal>
}

@if(DeleteModalOpen)
{
    <DeleteModal Title="Xóa người dùng" Name="@nameDelete" Id="@idDelete"  OnClose="@OnDeleteModalClose" ></DeleteModal>
}

@if(CreateModalOpen)
{
    <CreateProductModal OnClose="@OnCreateModalClose" ></CreateProductModal>
}
@*@if(EditModalOpen)
{
    <EditUserModal Model="@ProductEdit" OnClose="@OnEditModalClose" ></EditUserModal>
}
*@


<div class="card bg-gradient">
    <h3 class="card-header bg-primary text-light"> <i class="fa-solid fa-rectangle-list"></i> Quản lý người dùng</h3>
    <div class="card-body">
@if(products != null)
 {
              <button @onclick="OpenCreateModal" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> Thêm người dùng</button>        
    <hr />

@if(products.Count == 0)
{
   <div class="font-monospace">Không có dữ liệu</div>

}
else{



    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col"></th>


    </tr>
  </thead>
  <tbody>
      @foreach(var product in products)
            {
                 <tr>
                  <th scope="row">@product.Name</th>
                  <td>@product.Price</td>
                  <td>@product.Name</td>
                  <td>@product.ImageUrl</td>
                  <td>
                      <a @onclick="() => OpenEditModal(product)" class="text-warning"><i class="fa-solid fa-pen-to-square hover"></i></a>
                      <a @onclick="() => OpenDetailModal(product)" class="text-dark hover"><i class="fa-solid fa-circle-info"></i></a>
                      <a @onclick="() => OpenDeleteModal(product)" class="text-danger hover"><i class="fa-solid fa-trash"></i></a>

                  </td>
                </tr>
            }


            
 
  </tbody>
</table>
            }
        }
        else
        {
                
  <div class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
        }
    </div>
</div>