
<div class="header_cart">
    <div class="header_cart-wrap">
        <i class="header_cart-icon fas fa-shopping-cart"></i>
        <span class="header_cart-notice">@cartDetails.Count</span>
        <!-- no cart: header_cart-list--nocart -->
        <div class="header_cart-list">
            <img src="./assets/img/nocart.png" alt="" class="header_cart-nocart-img" />
            <span class="header_cart-nocart-msg">Chưa có sản phẩm</span>
            <h4 class="header_cart-heading">Sản phẩm đã thêm @cartDetails.Count</h4>
            <ul class="header_cart-list-item">
                @foreach (var item in cartDetails)
                {
                    <li class="header_cart-item">
                        <img src="@item.Product.ThumbString" alt="" class="header_cart-img" />
                        <div class="header_cart-item-info">
                            <div class="header_cart-item-head">                 
                                <h4 class="header_cart-item-name">
                                    @item.Product.Name
                                </h4>
                                <div class="header_cart-item-price-wrap">
                                    <span class="header_cart-item-price">@item.Price đ</span>
                                    <span class="header_cart-item-multiply">X</span>
                                    <span class="header_cart-item-qnt">@item.Quantity</span>
                                </div>
                            </div>
                            <div class="header_cart-item-body">
                                <span class="header_cart-item-desc">Miễn phí ship</span>
                                <span class="header_cart-item-remove" @onclick="() => DeleteCart(item.ProductId)">Xóa</span>
                            </div>
                        </div>
                    </li>
                }
                @*<li class="header_cart-item">
                        <img src="./assets/img/shoppe.png" alt="" class="header_cart-img" />
                        <div class="header_cart-item-info">
                            <div class="header_cart-item-head">
                                <h4 class="header_cart-item-name">
                                    Bộ kem đặc trị vùng mắt nè aaaaBộ kem đặc trị vùng mắt nè aaaaBộ kem
                                    đặc trị vùng mắt nè aaaa
                                </h4>
                                <div class="header_cart-item-price-wrap">
                                    <span class="header_cart-item-price">2.000.000đ</span>
                                    <span class="header_cart-item-multiply">X</span>
                                    <span class="header_cart-item-qnt">2</span>
                                </div>
                            </div>
                            <div class="header_cart-item-body">
                                <span class="header_cart-item-desc">Phân loại: Bạc</span>
                                <span class="header_cart-item-remove">Xóa</span>
                            </div>
                        </div>
                    </li>*@
            </ul>
            <button class="header_cart-view btn btn--primary">Xem giỏ hàng</button>
        </div>
    </div>
</div>